# crystal
.cache/shards/
tmp/
bin/
.shards/

# non-critical vendored crystal files
lib/**/.github/
lib/**/docs/
lib/**/examples/
lib/**/spec/

__pycache__
creds.env
*.pem

# container volume files
data/*
!data/.gitkeep

# Terraform
terraform.auto.tfvars.json
terraform/.terraform/providers
**/.terraform/*

*.dwarf
dist/
