__pycache__
creds.env
*.pem

vendor/cache/shards/*

# container volume files
data/*
!data/.gitkeep

# Terraform
terraform.auto.tfvars.json
terraform/.terraform/providers
**/.terraform/*

/docs/
/bin/
/.shards/
*.dwarf
dist/
