__pycache__
creds.env
*.pem

.cache/shards/*

# container volume files
data/*
!data/.gitkeep

# Terraform
terraform.auto.tfvars.json
terraform/.terraform/providers
**/.terraform/*

/bin/
/.shards/
*.dwarf
dist/

tmp/
